*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100px;
    width: 100%;
    background-color: #F9F4EF;
    display: flex;
    flex-direction: row;
}
.logo_sushi{
    height: 100px;
    width: 25%;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    background-color: #F9F4EF;
}

.logo1{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    margin-left: 50px;
    background-image: url(/images/logo.png);
    background-size: cover;
}

.suchi-bar{
    height: 100px;
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;    
}
.a1{
   font-family: Roboto;
   margin-left: 20px;
   
}
.a2{
    font-family: Roboto;
    margin-left: 20px;   
}
.a3{
    font-family: Roboto;
    margin-left: 20px;
}
.a11{
    font-family: Roboto;
    margin-left: 20px;
}
.a12{
    font-family: Roboto;
    margin-left: 20px;
}

.foto2{    
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: 0px;
    background-image: url(/images/suchi\ bar.jpg);
}

.midden{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.restaurant{
    height: 700px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #EADDCF;
}
.reserveren{
    height: 700px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F4EF;
}

.a4{
    height: 100px;
    width: 25%;
    margin-left: 30px;
    font-family: Inter;
    margin-top: 50px;
    font-size: 20px;
}

.a5{
    font-family: Inter;
    font-size: 15px;
    height: 100px;
    margin-left: 30px;
    width: 75%;
}

.onder-midden{
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 15px;
    align-items: center;
    background-color: #EADDCF;
}

.prijzen{
    height: 65px;
    width: 125px;
    margin-right: 45px;
    font-family: Inter;
    background-color: #F9F4EF;
}
.menu{
    height: 65px;
    width: 125px;
    margin-right: 45px;
    font-family: Inter;
    background-color: #F9F4EF;
}
.tijden{
    height: 65px;
    width: 125px;
    font-family: Inter;
    background-color: #F9F4EF;
}
 
.onder-midden2{
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-top: 15px;
    background-color: #EADDCF;
}
.Contact{
    height: 65px;
    width: 125px;
    margin-right: 45px;
    font-family: Inter;
    background-color: #F9F4EF;
}
 
.Deals{
    height: 65px;
    width: 125px;
    font-family: Inter;
    background-color: #F9F4EF;
}
 .a6{
    height: 100px;
    width: 25%;
    justify-content: center;
    margin-left: 55px;
    font-family: Inter;
    margin-top: 50px;
    font-size: 20px;
 }
.block-reserveren{
    height: 500px;
    width: 475px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    background-color: blueviolet;
}

.a7{
    height: 25x;
    width: 100px;
    display: flex;
    background-color: blueviolet;
    font-family: Inter;
    flex-direction: row;
 
}
.a8{
    height: 25px;
    width: 150px;
    display: flex;
    font-family: Inter;
    flex-direction: row;
   
}
.a9{
    height: 25px;
    width: 100px;
    display: flex;
    font-family: Inter;
    flex-direction: row;
    
}
.a10{
    height: 25px;
    width: 100px;
    display: flex;
    font-family: Inter;
    flex-direction: row;
   
}

.loggin_block{
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    background-color: #EADDCF;
}

.loggin_2block{
    height: 900px;
    width: 60%;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: #F9F4EF;
}

input{
    height: 50px;
    width: 700px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
label{
    font-family: Inter;
}

.label_name{
    height: 25px;
    width: 25px;
    margin-bottom: 15px;
}
.label_password{
    margin-bottom: 15px;
    margin-top: 15px;
}
.input_login{
    margin-top: 50px;
}
h1{
    font-family: Inter;
    margin-top: 100px;
    margin-bottom: 50px;
}

.remember_password_block{
    height: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: -30px;
  
}
.remember_password{
    height: 30px;
    width: 70px;
    border-radius: 20px;  
    display: flex;
    flex-direction: row;
    align-items: center;
       
    background-color: #FFFFFF;
}
.forgot_password{
    height: 20px;
    width: 130px;
    font-family: Inter;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #48CEEC;  

}

.a13{
    margin-left: -370px;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
}
.password_bol{
    height: 20px;
    width: 20px;
    border-radius: 500px;
    margin-left: 5px;
    background-color: #CBCBCB;
}

.or{
    height: 20px;
    width: 100%;
    display: flex;
    font-family: Inter;
    align-items: center;
    font-size: 13px;
    justify-content: center;
    margin-top: 20px;  
    margin-bottom: -15px;  
}
.google_bol2{
    height: 50px;
    width: 50px;
    border-radius: 500px;
    margin-left: 5px;
    background-color: #CBCBCB;
}


.input_login_facebook{
    margin-top: 50px;
}
.input_login_Google{
    margin-top: 50px;
}